body{
    min-width: 360px;
    font-size: 62.5%;
}
header{
    background-color: #1d7ad9;
}
.hotline{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    font-size: 1.3rem;
    background-color: #1d7ad9;
    color: white;
}
.log{
    display: flex;
}
.login{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0 10px;
    height:40px;
    border-left: solid 1px white;
    border-right: solid 1px white;
}
.login:hover{
    background-color: white;
    color: #000;
    cursor:pointer;
}
.home{
    background-color: #f9f9f9;
}
.online{
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.navbar-default{
    padding:30px 0 0;
    border: none;
}
@media screen and (min-width: 770px) {
    .navbar-nav{
        float: right;
    }
}
@media screen and (min-width: 770px) {
    .made{
        margin-left: 60px;
    }
}
.made{
    /*padding:15px 20px;*/
    background-color: white;
    border-radius: 5px;
    text-align: center;
}
.navbar-default .navbar-nav>li>a:hover{
    background-color:#1d7ad9 ;
    color: white;
    border-radius: 5px;
}
.line{
    display: flex;
    justify-content: flex-end;
}
.progressbar{
    display: inline-block;
    margin: 40px 0;
}
.progress{
    width: 130px;
    height: 5px;
    background-color: #ff7f02;
    position: relative;
    top:20px;
}
@media screen and (max-width: 550px) {
    .progress{
        width: 70px;
    }
}
.pro{
    width: 130px;
    height: 5px;
    background-color: #cccccc;
    margin-top: 20px;
}
@media screen and (max-width: 550px) {
    .pro{
        width: 70px;
    }
}
.bar{
    position: relative;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #ff7f02;
    text-align: center;
    line-height: 25px;
    color: white;
    bottom: 16px;
    left: 47px;
}
@media screen and (max-width: 550px) {
    .bar{
        left: 25px;
    }
}
.ba{
    position: relative;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color:  #cccccc;
    text-align: center;
    line-height: 25px;
    color: white;
    bottom:16px;
    left: 47px;
}
@media screen and (max-width: 550px) {
    .ba{
        left: 25px;
    }
}
.customized{
    position: relative;
    right: 10px;
    text-align: center;
    color: #ff7f02;
}
.carton{
    position: relative;
    right: 10px;
    text-align: center;
    color: #cccccc;
}
.please{
    display: inline-block;
    width: 5px;
    height: 20px;
    background-color: #1d7ad9;
}
.according{
    font-size: 2rem;
    vertical-align:text-bottom;
}
/*.choice{*/
    /*border: solid 1px #f4f4f4;*/
/*}*/
.box{
    display: flex;
    align-items: center;
    padding: 12px 0;
    background-color: #f4f4f4;
    border: solid 1px #f4f4f4;
}
.img-box{
    padding-left:10px;
    font-size: 1.3rem;
    color:#1d7ad9;
    vertical-align:text-top;
}
/*.typ{*/
    /*font-size: 1.3rem;*/
    /*color:#1d7ad9;*/
/*}*/
.counterpart{
    display: flex;
    /*justify-content: space-between;*/
    align-items: center;
    padding: 30px 0;
    background-color: #fbfcff;
    border: solid 1px #f4f4f4;
}
label {
     cursor: pointer;
     margin-left: 40px;
     margin-bottom: 0;
 }
@media screen and (max-width: 770px) {
    label {
        cursor: pointer;
        margin-left: 40px;
        margin-bottom: 0;
        /*display: flex;*/
        /*width: 100%;*/
    }
}
.label-p {
    display: inline-block;
    font-size: 1.3rem;
    /*margin: 2rem 0 2rem 2.5rem;*/
}
.wang{
    display: inline-block;
}
input {
    display: none;
}
.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #f8f9fb;
    border: solid 1px #d7d7d7;
    margin-right: 15px;
    display: inline-block;
    vertical-align: top;
}
.click2:checked + .circle{
    border: solid 7px #1d7ad9;
}
.details{
    width: 10rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(img/drop.png) no-repeat right;
    padding: 5px;
    /*margin-right: 15px;*/
}
.drop{
    display: flex;
    justify-content: flex-end;
}
@media screen and (max-width: 990px) {
    .drop{
        display: flex;
        justify-content: flex-start;
    }
}
.size-name {
    font-size: 1.3rem;
    display: inline-block;
    /*margin-left: 4rem;*/
    padding-bottom: 20px;
    padding-left: 20px;
}
.long {
    display: inline-block;
    width: 5rem;
}
.diameter{
    margin-bottom: 25px;
}
.step{
    display: flex;
    justify-content: center;
    align-items: center;
    height:285px;
    border: solid 1px #f4f4f4;
}
.next{
    padding: 10px 50px;
    font-size: 2rem;
    background-color: red;
    color: white;
    border-radius: 5px;
    outline:none;
    border: none;
}
.package{
    padding-bottom: 50px;
    background-color: #f9f9f9;
}
.pack{
    padding-top: 70px;
    font-size:1.3rem;
    color: #a8a8a8;
}
a.about-us{
    color:#a8a8a8 ;
    text-decoration: none;
}
a.about-us:hover{
    color: #4e8fdd;
}
.us{
    padding-right: 40px;
}
.about{
    padding-top: 25px;
}
.tel{
    padding-top: 15px;
}
.code{
    display: flex;
    justify-content: flex-end;
}
@media screen and (max-width: 910px) {
    .code{
        display: flex;
        justify-content: flex-start;
    }
}
.telephone{
    padding-right: 15px;
}
.company{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:10px 0;
    font-size: 1.3rem;
    background-color: #1d7ad9;
    color: white;
}
