header{
    font-size: 2rem;
}
div.phone{
    height:50px;
    line-height: 50px;
    display: flex;
    justify-content: space-between;

}
.service{
    color: #97d2b5;
    position: relative;
    right:15%;
}
.social{
    position: relative;
    left:15%;
  }
.home{
    background-color: #29b078;
    position: relative;
    width: 100%;
    font-size: 1.5rem;
}
.navbar-default .navbar-nav>li>a{
    color: white;
}
main {
    background-color: #fafafa;
}
.specification{
    padding-top: 12.5%;
    text-align: center;
}