@charset "utf-8";

body{
  margin: 0 auto;
  font-size:62.5%;
  min-width: 320px;
  max-width: 780px;
}
.fon(@font:2rem){
  font-size: @font;
}
.back(@color){
  background-color: @color;
}
.bor{
  border-bottom: solid 1px #b3b3b3;
}
@blue:#5fc0cd;
@red:#e9532b;
@text:#cfcfcf;
@foot:#f8fafb;
.display-ed{
  display: flex;
  align-items: center;
}
.pad(@padding:0 20px 0 30px){
  padding:@padding ;
}
.ti-tel{
  .display-ed;
  justify-content: space-between;
}
.butt-on{
  .fon(1.2rem);
  outline: none;
  border: none;
  cursor: pointer;
}
header{
  min-width: 320px;
  max-width: 780px;
  position: fixed;
  width: 100%;
  .ti-tel;
  .back(@blue);
  .pad(10px 0);
}
.discover{
  .display-ed;
}
.work{
  .pad(8px);
  border-radius: 10px ;
}
.employer{
  .butt-on;
  .work;
  .back(#55a8b3);
  color: white;
}
.workers{
  .butt-on;
  .work;
  .back(white);
  color: @blue;
}
main{
  padding-top: 61px;
}
.location{
  .display-ed;
  width: 100%;
  .bor;
}
.loca{
  width: 33%;
  border-left: solid 1px @text;
}
.tion{
  width:100%;
  .pad( 8px 0 10px 34%);
  .fon(1.2rem);
  color: @text;
  outline: none;
  border: none;
}
@media screen and (max-width: 700px){
  .tion{
    padding-left: 0;
  }
}
.time{
  .display-ed;
  .fon(1.2rem);
  .pad(10px 0 0)
}
.calendar{
  .time;
  color: @text;
}
.img-calender{
  .pad();
  vertical-align:middle;
}
.date{
  .time;
  justify-content: space-between;
  padding-left: 55px;
}
.five{
  color: @red;
  white-space: nowrap;
}
.img-shape{
  .calendar;
  .bor;
  padding-bottom: 15px;
}
footer{
  min-width: 320px;
  max-width: 780px;
  position: fixed;
  width: 100%;
  bottom: 0;
}
.img-write{
  .ti-tel;
  .back(@foot);
  .pad( 0 15%)
}
.home-page{
  .butt-on;
  display: flex;
  flex-direction: column;
  align-items: center;
  .fon(1rem);
  background-color: @foot;
}
.home{
  color: @blue;
}
.page{
  color: #999999;
}
.write{
  width: 70%;
}