@charset "utf-8";
body {
  margin: 0 auto;
  font-size: 62.5%;
  min-width: 380px;
}
.bor {
  border-bottom: solid 1px #b3b3b3;
}
.display-ed {
  display: flex;
  align-items: center;
}
.ti-tel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}
.butt-on {
  font-size: 1.75rem;
  outline: none;
  border: none;
  cursor: pointer;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  background-color: #5fc0cd;
  padding: 0 30px;
  font-size: 2rem;
}
.discover {
  display: flex;
  align-items: center;
}
.work {
  padding: 20px;
  border-radius: 10px ;
}
.employer {
  font-size: 1.75rem;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 20px;
  border-radius: 10px ;
  background-color: #55a8b3;
  color: white;
}
.workers {
  font-size: 1.75rem;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 20px;
  border-radius: 10px ;
  background-color: #ffffff;
  color: #5fc0cd;
}
.location {
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: solid 1px #b3b3b3;
}
.loca {
  width: 33%;
  border-left: solid 1px #cfcfcf;
}
.tion {
  width: 100%;
  padding: 25px 0 30px 34%;
  font-size: 1.75rem;
  color: #cfcfcf;
  outline: none;
  border: none;
}
@media screen and (max-width: 700px) {
  .tion {
    padding-left: 0;
  }
}
.time {
  display: flex;
  align-items: center;
  font-size: 1.75rem;
  padding: 30px 0 0;
}
.calendar {
  display: flex;
  align-items: center;
  font-size: 1.75rem;
  padding: 30px 0 0;
  color: #cfcfcf;
}
.img-calender {
  padding: 0 20px 0 30px;
  vertical-align: middle;
}
.date {
  display: flex;
  align-items: center;
  font-size: 1.75rem;
  padding: 30px 0 0;
  justify-content: space-between;
  padding-left: 70px;
}
@media screen and (max-width: 550px) {
  .date {
    padding-left: 10px;
    font-size: 1.3rem;
  }
}
.five {
  color: #e9532b;
}
.img-shape {
  display: flex;
  align-items: center;
  font-size: 1.75rem;
  padding: 30px 0 0;
  color: #cfcfcf;
  border-bottom: solid 1px #b3b3b3;
  padding-bottom: 30px;
}
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  background-color: #f8fafb;
  padding: 0 15%;
}
.home-page {
  font-size: 1.75rem;
  outline: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  background-color: #f8fafb;
}
.home {
  color: #5fc0cd;
}
.page {
  color: #999999;
}
