@charset "utf-8";

body{
  min-width: 320px;
  max-width: 780px;
  margin: 0 auto;
  //font-size: 62.5%;
}
@blue-ed:#5fc0cd;
@red-ed:#f0b0b1;
@text-ed:#999999;
.bordered{
  border-bottom:solid 1px #999999;
}
.fon(@font-size:1.3rem){
  font-size:@font-size ;
}
.height-ed(@height:100px){
  height: @height;
}
header{
  min-width: 320px;
  max-width: 780px;
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  .height-ed(57px);
  .fon(1.3rem);
  background-color: @blue-ed;
  color: white;
}
main{
  padding-top: 57px;
  margin-bottom: 100px;
}
.personal{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.small{
  padding-left: 30px;
}
.sam{
  padding-right: 30px;
}
.blur{
  //width: 100%;
  .height-ed(225px);
  background: url("img/doctor1.png") no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}
.old{
  .height-ed();
  padding-left: 2rem;
  .fon();
  color: white;
}
.img-shape{
  padding-left: 2rem;
}
.skill{
  display: flex;
  align-items: center;
  .fon();
  .bordered;
}
.skill1{
  display: flex;
  align-items: center;
  .height-ed(57px);
  .fon();
  .bordered;
}
.major{
  display: inline-block;
  width: 3px;
  .height-ed(25px);
  margin: 0 30px ;
  background: @blue-ed;
}
.star{
  .skill;
  .height-ed(57px);
  margin-left: 30px;
}
//@media screen and(max-width: 400px){
//  .sa{
//    .skill;
//    .height-ed(140px);
//    margin-left: 30px;
//  }
//}
.sa{
  .skill;
  .height-ed(140px);
  margin-left: 30px;
}
.img-star{
  padding: 0 30px;
}
.life{
  border-right: solid 1px @text-ed;
  .img-star;
  color: @text-ed;
  word-break: keep-all;
}
.twenty-five{
  .img-star;
  color: @red-ed;
}
.self{
  padding-left: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  //white-space: nowrap;
}
footer{
  min-width: 320px;
  max-width: 780px;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .height-ed(70px);
  background-color: #eff0f4;
}
.leaving{
  display: flex;
  justify-content: center;
  width: 100%;
}
.mess-age{
  outline: none;
  border-radius: 10px;
  padding: 8px 0;
  cursor: pointer;
  width: 100%;
}
.message {
  .fon();
  background-color: #eff0f4;
  border: solid 1px @blue-ed;
  .mess-age;
  color: @blue-ed;
}
.phone{
  .fon();
  background-color: @blue-ed;
  .mess-age;
  border: none;
  color: white;
}
.age{
  width: 40%;
  margin: 0 10px;
}