@charset "utf-8";
body {
  margin: 0 auto;
  font-size: 62.5%;
  min-width: 320px;
  max-width: 780px;
}
.bor {
  border-bottom: solid 1px #b3b3b3;
}
.display-ed {
  display: flex;
  align-items: center;
}
.ti-tel {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.butt-on {
  font-size: 1.2rem;
  outline: none;
  border: none;
  cursor: pointer;
}
header {
  min-width: 320px;
  max-width: 780px;
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #5fc0cd;
  padding: 10px 0;
}
.discover {
  display: flex;
  align-items: center;
}
.work {
  padding: 8px;
  border-radius: 10px ;
}
.employer {
  font-size: 1.2rem;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 8px;
  border-radius: 10px ;
  background-color: #55a8b3;
  color: white;
}
.workers {
  font-size: 1.2rem;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 8px;
  border-radius: 10px ;
  background-color: #ffffff;
  color: #5fc0cd;
}
main {
  padding-top: 61px;
}
.location {
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: solid 1px #b3b3b3;
}
.loca {
  width: 33%;
  border-left: solid 1px #cfcfcf;
}
.tion {
  width: 100%;
  padding: 8px 0 10px 34%;
  font-size: 1.2rem;
  color: #cfcfcf;
  outline: none;
  border: none;
}
@media screen and (max-width: 700px) {
  .tion {
    padding-left: 0;
  }
}
.time {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  padding: 10px 0 0;
}
.calendar {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  padding: 10px 0 0;
  color: #cfcfcf;
}
.img-calender {
  padding: 0 20px 0 30px;
  vertical-align: middle;
}
.date {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  padding: 10px 0 0;
  justify-content: space-between;
  padding-left: 55px;
}
.five {
  color: #e9532b;
  white-space: nowrap;
}
.img-shape {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  padding: 10px 0 0;
  color: #cfcfcf;
  border-bottom: solid 1px #b3b3b3;
  padding-bottom: 15px;
}
footer {
  min-width: 320px;
  max-width: 780px;
  position: fixed;
  width: 100%;
  bottom: 0;
}
.img-write {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f8fafb;
  padding: 0 15%;
}
.home-page {
  font-size: 1.2rem;
  outline: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  background-color: #f8fafb;
}
.home {
  color: #5fc0cd;
}
.page {
  color: #999999;
}
.write {
  width: 70%;
}
