@charset "utf-8";
main {
  background-color: #fafafa;
  padding-bottom: 150px;
}
.all {
  color: black;
}
.all:hover {
  color: white;
  background-color: #29B078;
}
.web {
  overflow: hidden;
  margin-bottom: 30px;
}
.wang {
  margin-top: 30px;
  background-color: white;
  border: solid 1px #d0d6d9;
}
.img-people {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px #d0d6d9;
}
.img-peo {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px #d0d6d9;
  padding: 8px;
  margin: 0 -15px;
}
.ple {
  height: 200px;
  padding: 20px 0 20px 15px;
}
.plone {
  padding-left: 15px;
  margin: 7px 0;
}
.tips {
  position: absolute;
  word-break: break-all;
  padding-right: 8%;
}
.dawa {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  opacity: 0;
  text-align: center;
  font-size: 16px;
  z-index: 222;
  transition: all 3s;
  line-height: 40px;
}
.dawa:hover {
  opacity: 1;
}
@media (max-width: 991px) {
  .tips {
    padding-right: 10% ;
  }
}
