@charset "utf-8";
main {
  padding-bottom: 200px;
  background-color: #fafafa;
}
.img-heard {
  width: 100%;
  position: relative;
  top: -1px;
}
.tencent {
  background-color: white;
  border: solid 1px #e6e6e6;
  text-align: center;
}
.tton {
  background-color: white;
  color: #999;
  border: solid 1px #e6e6e6;
  line-height: 30px;
}
.ten {
  display: flex;
  padding-right: 50px;
  background-color: white;
  color: #999;
  border: solid 1px #e6e6e6;
  line-height: 30px;
}
@media (max-width: 500px){
  .ten{
    display: block;
    padding-left: 50px;
  }
}
.turn {
  padding: 20px 50px 100px;
  background-color: white;
  color: #999;
  border: solid 1px #e6e6e6;
  line-height: 30px;
}
.bo {
  margin: -5px 0;
  padding: 10px 0;
  border-bottom: solid 1px #d0d6d9;
}
ul.inter {
  text-align: left;
  list-style: none;
  display: inline-block;
}
li.internet {
  font-size: 14px;
  padding-bottom: 38px;
  padding-right: 32px;
}
.grape {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 1px solid #F9A372;
  border-radius: 50%;
  margin-right: 10px;
}
a.al {
  color: #29B078;
  text-decoration: none;
}
a.al:hover {
  color: #F9A372;
}
ul li:hover span {
  background-color: #F9A372;
  border: solid 1px #e6e6e6;
}
