body{
    min-width: 320px;
    max-width: 780px;
    background-color: #acd5e3;
    margin: 0 auto;
    font-size: 62.5%;
}
header{
    position: fixed;
    top:0;
    background-color:#5fc0cd;
    height: 38px;
    width: 100%;
    color:white;
    text-align: center;
    font-size: 1.5rem;
    max-width:780px;
    margin: 0 auto;

}
.registered{
    float:left;
    margin-left: 10%;

}
.land{
    text-align: center;

}
.close{
    float:right;
    margin-right: 10%;

}
main{
    width:100%;
    margin-top: 55px;
}
.name{
    width: 100%;
    margin-bottom: 20px;
    background-color: white;
    height: 50px;

}
.phone{
    display: inline-block;
    margin: 0% 2% 0 3%;
    width: 20px;
    height: 28px;
    margin-top: 12px;

}
.user{
    border-style: none;
    border-left: solid #eff0f4;
    outline: none;
    font-size: 1.5rem;
    display: inline-block;
    width: 200px;
    padding-left: 20px;
    height: 26px;
    margin-top: -20px;
    border-width: 2px;
    vertical-align: middle;


}
.password{
    width: 100%;
    margin-bottom: 20px;
    background-color: white;
    height: 50px;
}
.locked{
    display: inline-block;
    margin: 0% 2% 0 3%;
    width: 20px;
    height: 28px;
    margin-top: 12px;



}
.pa{
    border-style: none;
    border-left: solid #eff0f4;
    outline: none;
    font-size: 1.5rem;
    display: inline-block;
    width: 200px;
    padding-left: 20px;
    height: 26px;
    margin-top: -20px;
    border-width: 2px;
    vertical-align: middle;

}
.landes{
    padding: 3px 0;
    text-align: center;
    width: 100%;
    background-color: #5fc0cd;
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
    display: inline-block;

}
.fegit{
    width:20%;
    float:right ;
    font-size:1rem;
    margin-top:10px;
    text-decoration:none;
    color: #40ffee;
}