body{
    min-width: 320px;
    max-width: 780px;
    background-color: #acd5e3;
    margin: 0 auto;
    font-size: 62.5%;
}
header{
    position: fixed;
    top:0;
    background-color:#5fc0cd;
    height: 38px;
    width: 100%;
    color:white;
    text-align: center;
    font-size: 1.5rem;
    max-width:780px;
    margin: 0 auto;

}
.registered{
    float:left;
    margin-left: 10%;

}
.land{
    text-align: center;

}
.close{
    float:right;
    margin-right: 10%;

}
main{
    width:100%;
    padding-bottom: 50%;
    margin: 20% 0;
}
.name{
    width: 100%;
    padding-bottom: 13%;
    margin-bottom: 20px;
    background-color: white;
}
.phone{
    float: left;
    margin:2%;
    width:5%;
    height: 5%;

}
.user{
    border-style: none;
    border-left: solid #eff0f4;
    outline: none;
    height: 5%;
    font-size: 5vw;
    float: right;
    width: 88%;
    padding-left: 3px;
    border-width: 2px;
    margin: 1.5% 0 1.2% 0;


}
.password{
    width: 100%;
    padding-bottom: 13%;
    margin-bottom: 20px;
    background-color: white

}
.locked{
    float: left;
    margin: 2%;
    width:5%;
    height: 5%;


}
.pa{
    border-style:none;
    border-left: solid #eff0f4 ;
    outline:none;
    font-size: 5vw;
    float: right;
    width: 88%;
    padding-left: 3px;
    border-width: 2px;
    margin: 1.8% 0 1.2% 0;

}
.landes{
    margin-top: 66px;
    text-align:center;
    width:100%;
    background-color:#5fc0cd;
    font-size:1.5rem;
    color: white;
    text-decoration:none;

}
.fegit{
    width:20%;
    float:right ;
    font-size:1rem;
    margin-top:10px;
    text-decoration:none;
    color: #40ffee;
}