body{
    margin:0 auto;
    max-width:780px;
    min-width: 32px;
    font-size:62.5%;
}
header{
    width:100%;
    position: fixed;
    background-color: #29bde0;
    height:60px;
    z-index: 2;
    margin:0 auto;
    max-width:780px;
    min-width: 32px;
}
.vote{
    display: flex;
    justify-content: space-between;
    line-height: 60px;
    align-items: center;
    margin: 0 15px;
}
.wang{
    width:25px;
    height: 30px;
}
.box{
    font-size: 2rem;
    color: white;
}
main{
    background-color:  #29bde0;
    height: 1200px;
}
.speak{
    background-color:  #b9e9f5;
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 1.5rem;
    height:120px;
}
.btn-audio{
    width: 45px;
    height: 45px;
    background:url(img/Play.png) no-repeat center bottom;
    background-size:cover;
}
.triangle{
    width: 0;
    height:0;
    border:solid  8px;
    border-color:  #b9e9f5 transparent transparent transparent;
    position: relative;
    left:10%;
}
.click{
    position: relative;
    padding-left:10%;
    font-size: 1.5rem;
    color: white;
}
.box1{
    width: 25.3%;
    height:13%;
    float: left;
    margin: 0 4% 2%;
    text-align: center;
}
.box2{
    background-color: #f5c97b;
    border: solid 2px white;
    height:70%;
    position: relative;
    cursor: wait;
    border-radius: 10px;
}
.people{
    position: relative;
    top:40%;
    color: white;
}
.people1{
    position: relative;
    top:10%;
    color: white;
}
.box3{
    background-color: #83b09a;
    height: 20%;
    width: 100%;
    position: absolute;
    bottom: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.box1:hover .box4{
    visibility:visible;
    padding:0;
}
.box4{
    visibility:hidden;
    margin:10% 0;
    text-align: center;
}
.button{
    padding-right: 2%;
    width: 20%;

}
.button1{
    padding-right: 2%;
    width: 20%;
}
.button2{
    padding-right: 2%;
    width: 20%;

}
.button3{
    padding-right: 2%;
    width: 20%;
}
footer{
    width: 100%;
    height:60px;
    background-color:#29bde0;
    position: fixed;
    bottom:0;
    margin:0 auto;
    max-width:780px;
    min-width: 32px;

}
.cast{
    background-color: #fbb435;
    position: absolute;
    left: 15%;
    width: 70%;
    top: 5px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 2rem;
    outline:none;
    border-style:none;
    color: white;
}

/*.button{*/
/*background-image: url(img/clipping.png);*/
/*height:2rem;*/
/*width: 2rem;*/
/*background-size: 100%;*/
/*background-repeat: no-repeat;*/
/*padding-right: 5px;*/
/*outline:none;*/
/*border-style:none;*/

/*}*/
/*.button1{*/
/*background-image: url(img/glass.png);*/
/*height:2rem;*/
/*width: 2rem;*/
/*background-size: 100%;*/
/*background-repeat: no-repeat;*/
/*padding-right: 5px;*/
/*outline:none;*/
/*border-style:none;*/
/*}*/
/*.button2{*/
/*background-image: url(img/bull.png);*/
/*height:2rem;*/
/*width:2rem;*/
/*background-size: 100%;*/
/*background-repeat: no-repeat;*/
/*padding-right: 5px;*/
/*outline:none;*/
/*border-style:none;*/
/*}*/
/*.button3{*/
/*background-image: url(img/ten.png);*/
/*height:2rem;*/
/*width:2rem;*/
/*background-size: 100%;*/
/*background-repeat: no-repeat;*/
/*padding-right: 5px;*/
/*outline:none;*/
/*border-style:none;*/
/*}*/

