body{
    font-size: 62.5%;
    margin: 0 auto;
}
header{
    height: 50px;
   background-color: #5fc0cd;
    position: fixed;
    width: 100%;
}
.three{
    float: left;
    left:10%;
    width: 5vw;
    padding:10px 0;
    padding-left: 5%;
}
main{
    background-color:#f0f0f0;
    height:1000px;
    padding-top: 50px;
    width: 100%;
}
.box{
    display: flex;
    justify-content: space-between;
    margin:0 10px;

}
.box1 {
    width: 90%;
}
.box2{
    width:5%;
    display: flex;
    align-items: center;
    margin-right: 20px;

}
.triangle4 {
    width: 0;
    height: 0;
    border: 30px;
    border-style: solid;
    border-color: transparent transparent transparent  #ff0;
}
a:hover
{
    background-color: #a0f5c9;
}

.game{
    border:solid 1px;
    border-color: #f0f0f0;
    font-size: 2rem;
    background-color: white;
    text-align: center;
    padding-top: 5px;
}
.catch{
    height:450px;
    background-color: white;
    border:solid 1px;
    border-color: #f0f0f0;
}
.ghost{
    border-bottom: solid 2px;
    border-color: #fbb435;
    text-align: center;
    height:70px;
    vertical-align:middle;
    line-height:70px;
    font-size:2rem;
}
.party{
    text-align: center;
}
.dilution{
    margin:20px 20px 20px 5px;
    background-color:#5bc0de ;
    font-size: 2rem;
    height:60px;
    vertical-align:middle;
    line-height:70px;
    text-align: center;
}
footer{
    padding-bottom: 50px;
    vertical-align:middle;
    line-height:50px;
}
.round{
    background-color:#5bc0de ;
    padding:1px 9px;
    border-radius: 50%;
    margin-right: 5px;
}
.small{
    padding:1px 9px;
    border-radius: 50%;
    background-color:#f0f0f0;
    margin-right: 5px;
}


​