header{
    height: 90px;
}
.wan{
    width: 100%;
    height: 100px;
    background-color:#29b078 ;
}
.home-on{
    padding:0;
}
.phone{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.about{
    text-align: center;
}
.navbar-default{
    background-color: #29b078;
    font-size: 1.8rem;
    border: none;
    z-index: 500;
}
.navbar-default .navbar-nav>li>a:hover {
    color: white;
}
.navbar-default .navbar-nav>li>a {
    color: white;
    padding: 24px 35px;
    font-size: 2rem;
}
@media (min-width: 768px) {
    .navbar-nav {
        margin: 0;
        float: right;
    }
    .online{
        left:45px;
    }
}
.navbar-default .navbar-toggle {
    border-color: #29b078;
    margin-top: 19px;
    background-color: #29b078;
}
.navbar-default .navbar-toggle:hover {
    background-color:rgba(0,0,0,0.2);
}
li.online:hover{
    border-bottom: solid 3px white;
}
main{
    background-color: #fafafa;
    margin-top: 11px;
}
.page{
    font-weight:800
}
.home{
    padding-top:2%;
    padding-bottom: 2%;
    border-bottom: solid 1px #d0d6d9;
    font-size: 1.6rem;
}
a.career{
    color: #29b078;
    text-decoration: none;
}
.direction{
    display: inline-block;
    padding:0 2%;
    text-decoration:none;
}
.dire{
    color: #999999;
    display: inline-block;
}
a.all{
    color: black;
    text-decoration: none;
}
.rear{
    border-bottom: solid 1px #d0d6d9;
    padding:2% 0;

}
li.direction:hover{
    background-color: #29b078;
}
.front{
    border-bottom:solid 1px  #d0d6d9;
    padding-top:2%;
    padding-bottom: 3%;
}
div.col-md-4.use{
    padding-top: 5%;
}
.responsibility{
    background-color: white;
    margin-bottom: 10%;
}
.direct{
    display: flex;
    justify-content: space-between;
    border:solid 1px #d0d6d9 ;
    word-break: break-all;
    align-items: center;
    padding: 2%;
}
.company{
    margin-bottom: 5%;
}
.wang{
    font-weight: 700;
}
.toux{
    margin-left: 3%;
}
div.col-md-6.star{
    background-color: white;
    border:solid 1px #d0d6d9 ;
    padding:3%;
}
.nan{
    padding-left: 2%;
}
div.col-md-4.sasay{
    background-color: white;
    border:solid 1px #d0d6d9 ;
    padding-bottom: 5%;
    padding-top: 5%;
    text-align: center;
}
div.col-md-8.treatment{
    background-color: white;
    border:solid 1px #d0d6d9 ;
    padding:0;
}
.three{
    display: flex;
    justify-content: space-between;
    border-bottom:solid 1px #d0d6d9;
    padding:3%;
}
.frou{
    visibility: hidden;
    padding:3%;
}
.learn{
    border:solid 1px #d0d6d9 ;
    padding:1%;
}
div.col-md-12.learn{
    border-bottom:solid 1px #d0d6d9;
    background-color: white;
    padding-left: 3%;
}
.one{
    color: red;
}
div.col-md-12.len{
    border:solid 1px #d0d6d9;
    background-color: white;
    word-break: break-all;
    color: #bfbfbf;
}
.banan{
    width: 100%;
    padding:5%;
}
.rear-end{
    margin-top: 40px;
}
.iphone{
    position: absolute;
    word-break: break-all;
    background-color: rgba(0, 0, 0,0.5);
    color: white;
    width: 95%;
    height:100%;
    opacity: 0;
    /*!*visibility: hidden;*!*/
    /*opacity: 0;*/
    text-align: center;
    line-height: 200%;
    padding:0 2% 0 3%;
    font-size: 1.6rem;
    z-index: 222;
}
.iphone:hover{
    /*visibility: visible;*/
    /*opacity: 1;*/
    opacity: 1;
}
.company{
    text-indent: 2em;
    text-align: left;
}
.you{
    width: 100%;
    background-color: #26a26f;
    border-bottom: solid 1px white ;
}
.me{
    color: white;
    padding-bottom: 70px;
}
.mo{
    color: white;
    padding-bottom: 10px;
}
.kun{
    visibility: hidden;
}
.jns{
    color: white;
}
a.jns:link,a:visited{
    text-decoration:none;
}
a.jns:hover{
    color: white;
}
.contact{
    padding: 3% 1%;
}
.cont{
    padding: 3% 1%;
    text-align: center;
    position: relative;
    left: 20px;
}
.wei{
    width: 90px;
    height: 90px;
    position: relative;
    bottom:20px;
}
.rights{
    color: white;
    text-align: center;
    position: relative;
    align-items: center;
    padding:5px 0;
}
.ri{
    border-top:solid 1px #32c086;
}
