header{
    height: 90px;
}
.wan{
    width: 100%;
    background-color: #29b078;
}
.phone{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.job{
    display: inline-block;
}
nav.navbar-default{
    background-color: #29b078;
    padding:10px 0;
    font-size: 1.8rem;
    border: none;
    z-index: 2;
    margin-bottom: 0;
}
.navbar-default .navbar-nav>li>a {
    color: white;
}
.logo{
    position: absolute;
    bottom: 10px;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    float: right;
    position: relative;
    left:25px;
}
div.item img{
    width:100%;
}
div#carousel-example-generic{
    width:100%;
    margin:0 auto;
}
main{
   margin-top: 10px;
    background-color: #fafafa;
}
div.efficient{
    margin-top: 5%;
    text-align: center;
    line-height: 50px;
}
h3{
    padding-bottom: 3%;
}
.five{
    text-align: left;
}
.three{
    visibility: hidden;
}
.learn{
    margin-top: 5%;
    line-height: 25px;
    padding-top:5%;
    border-left:dashed 1px #dedede ;
    padding-left: 2%;
}
.what{
    text-align: center;
    padding-top: 2%;
}
.match{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5%;
}
.aims {
    visibility: hidden;
}
@media ( max-width :1000px) {
    .aims {
        visibility: visible;
    }
}
.er{
    text-indent: 2em;
    color: #a9a9a9;
}
.dog{
    background-color: white;
    padding: 0 4% 5% 6%;
    margin-bottom: 5%;
    border: solid 1px #eeeded;
}
.seven{
    display: flex;
}
.col-xs-5cs, .col-sm-5cs, .col-md-5cs, .col-lg-5cs {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
@media ( min-width : 768px) {
    .col-sm-5cs {
        width: 20%;
        float: left;
    }
}

@media ( min-width : 992px) {
    .col-md-5cs {
        width: 20%;
        float: left;
    }
}

@media ( min-width : 1200px) {
    .col-lg-5cs {
        width: 20%;
        float: left;
    }
}

.col-md-5cs:hover{
    box-shadow:0 1px 10px #d3d3d3;
}
.friend{
    width: 100%;
    background-color: white;
    margin-top: 5%;
}
.col-xs-1cx, .col-sm-1cx, .col-md-1cx, .col-lg-1cx {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
@media ( min-width : 768px) {
    .col-sm-1cx {
        width:10%;
        float: left;
    }
}

@media ( min-width : 992px) {
    .col-md-1cx {
        width:10%;
        float: left;
    }
}

@media ( min-width : 1200px) {
    .col-lg-1cx {
        width: 10%;
        float: left;
    }
}
a.software:link,a:visited{
    text-decoration:none;
}
.software{
    color: #b8b8b8;
}
.teacher{
    padding-bottom: 10px;
    padding-top: 5px;
}
.teach{
    position: relative;
    right: 20px;
}
li.teacher:hover{
    border-bottom: solid 1px #29b078;
}
@media ( max-width :780px) {
    li.teacher:hover {
        border-bottom: 0;
    }
}
.you{
    width: 100%;
    background-color: #26a26f;
    border-bottom: solid 1px white ;
}
.me{
    color: white;
    padding-bottom: 70px;
}
.mo{
    color: white;
    padding-bottom: 10px;
}
.jns{
    color: white;
}
a.jns:link,a:visited{
    text-decoration:none;
}
.contact{
    padding: 3% 1%;
}
.cont{
    padding: 3% 1%;
    text-align: center;
    position: relative;
    left: 20px;
}
.wei{
    width: 90px;
    height: 90px;
    position: relative;
    bottom:20px;
}
.rights{
    color: white;
    text-align: center;
    position: relative;
    align-items: center;
    padding:5px 0;
}
.ri{
    border-top:solid 1px #32c086;

}
