header{
    height: 90px;
}
.wan{
    width: 100%;
    background-color: #29b078;
}
.phone{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.job{
    display: inline-block;
}
nav.navbar-default{
    background-color: #29b078;
    padding:10px 0;
    font-size: 1.8rem;
    border: none;
    z-index: 2;
}
.navbar-default .navbar-nav>li>a {
    color: white;
}
.logo{
    position: absolute;
    bottom: 10px;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    float: right;
}
main{
    background-color: #fafafa;
    margin-top: 10px;
}
.hand{
    width: 100%;
}
div.col-md-12.home{
    font-size: 1.5rem;
    padding-bottom: 2%;
    padding-top:2%;
    padding-left: 8%;
}
.enterprise{
    color: #29b078;
}
.help{
    background-color: white;
    font-size: 1.8rem;
    border: solid 1px #e6e6e6;
    text-align: center;
}
.tencent{
    background-color: white;
    text-align: center;
    border: solid 1px #e6e6e6;
}
ul.inter{
    text-align: left;
   padding-top: 5%;
    list-style: none;
    display: inline-block;
}
li.internet{
    font-size: 14px;
    padding-bottom: 15%;
}
.grape{
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px solid #F9A372;
    border-radius: 50%;
    margin-right: 10px;
}
a{
    color: #29B078;
    text-decoration: none;
}
ul li:hover span {
    background-color: #F9A372;
}

div.shanghai{
    background-color: white;
    border: solid 1px #e6e6e6;
}
.excellent{
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #e6e6e6;
    align-items: center;
}
.turn{
    font-size: 1.5rem;
    line-height: 200%;
    text-indent:50px;
}
div.channel.col-md-12{
    background-color: white;
    border: solid 1px #e6e6e6;
}
.you{
    width: 100%;
    background-color: #26a26f;
    border-bottom: solid 1px white ;

}
div.col-md-5.nan{
    padding:3% 0 ;

}
.jns{
    color: white;
}
.kun{
    visibility: hidden;
}
div.col-md-2.nan{
    padding:3% 0  1% 0;
}
.copy{
    width: 100%;
    background-color: #26a26f;
    text-align: center;
    color: white;
}