header{
    height: 90px;
}
.wan{
    width: 100%;
    background-color: #29b078;
}
.phone{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.job{
    display: inline-block;
}
nav.navbar-default{
    background-color: #29b078;
    padding:10px 0;
    font-size: 1.8rem;
    border: none;
    z-index: 2;
}
.navbar-default .navbar-nav>li>a {
    color: white;
}
.logo{
    position: absolute;
    bottom: 10px;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    float: right;
    position: relative;
    left: 25px;
}
main{
    background-color: #fafafa;
    margin-top: 10px;
}
.hand{
    width: 100%;
}
div.col-md-12.home{
    font-size: 1.5rem;
    padding-bottom: 2%;
    padding-top:2%;
    padding-left: 8%;
}
.enterprise{
    color: #29b078;
}
.help{
    background-color: white;
    font-size: 1.8rem;
    border: solid 1px #e6e6e6;
    text-align: center;
    font-weight:900;
}
.tencent{
    background-color: white;
    text-align: center;
    border: solid 1px #e6e6e6;
}
ul.inter{
    text-align: left;
   padding-top: 5%;
    list-style: none;
    display: inline-block;
}
li.internet{
    font-size: 14px;
    padding-bottom: 15%;
}

.grape{
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px solid #F9A372;
    border-radius: 50%;
    margin-right: 10px;
}
a.al{
    color: #29B078;
    text-decoration: none;
}
ul li:hover span {
    background-color: #F9A372;
    border: solid 1px #e6e6e6;
}
.potato{
    background-color: white;
    border: solid 1px #e6e6e6;
}
.po{
    background-color: white;
    border: solid 1px #e6e6e6;
    margin-bottom: 10%;
}
.pen{
    width: 134px;
    height: 124px;
}
.turn{
    font-size: 1.5rem;
    line-height: 200%;
    text-indent:3rem;
    top:15px;
}
.you{
    width: 100%;
    background-color: #26a26f;
    border-bottom: solid 1px white ;
}
.me{
    color: white;
    padding-bottom: 70px;
}
.mo{
    padding-bottom: 10px;
    color: white;
}
.kun{
    visibility: hidden;
}
.jns{
    color: white;
}
a.jns:link,a:visited{
    text-decoration:none;
}
.contact{
    padding: 3% 1%;
}
.cont{
    padding: 3% 1%;
    text-align: center;
    position: relative;
    left: 20px;
}
.wei{
    width: 90px;
    height: 90px;
    position: relative;
    bottom:20px;
}
.rights{
    color: white;
    text-align: center;
    position: relative;
    align-items: center;
    padding:5px 0;
}
.ri{
    border-top:solid 1px #32c086;

}